  <footer id="footer-copyright">
  <i class="social-icon fab fa-facebook"></i>
  <i class="fas fa-map-marker-alt"></i>
  <i class="social-icon fab fa-twitter"></i>
  <i class="social-icon fab fa-instagram"></i>
  <i class="social-icon fas fa-envelope"></i>
  <p>© Copyright 2022 Reliverdoo</p>
  </footer>